/* 💻 Coded for today's Task */

/* #region header😄 */

.reel-header {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 1.5rem;
}

#tab-labels {
  display: flex;
  gap: 15px;
  /* flex-shrink: 4; */
  color: #ffffff70;
  font-size: 1rem;
  
}

  #tab-labels > .tab-opened {
    color: #fff;
  }

/* #endregion header😄 */

/* #region sidebar➡️ */

.sidebar {
  color: white;
  text-align: center;

}

  .sidebar-item {
    padding-bottom: 20px;
  }

  .sidebar-item  > i {
    font-size: 1.8rem;
  }
  
  .sidebar-item > .profile-pic {
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2.5px solid  white;
  }



/* #endregion sidebar➡️ */

/* #region footer👢 */



/* #endregion footer👢 */
