/* 💻 Coded for today's Task */

/* #region header😄 */

.reel-header {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 1.5rem;
}

#tab-labels {
  display: flex;
  gap: 15px;
  /* flex-shrink: 4; */
  color: #ffffff70;
  font-size: 1rem;
  
}

  #tab-labels > .tab-opened {
    color: #fff;
  }

/* #endregion header😄 */

/* #region sidebar➡️ */

.sidebar {
  color: white;
  text-align: center;

}

  .sidebar-item {
    padding-bottom: 20px;
  }

  .sidebar-item  > i {
    font-size: 1.8rem;
  }
  
  .sidebar-item > .profile-pic {
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2.5px solid  white;
  }

/* #endregion sidebar➡️ */

/* #region footer👢 */

.reel-footer {
background-color: #000;
}
  /* #region post-info */

  .post-info-container {
    position: relative;
    display: flex;
    color: #fff;
  }

    .post-info {
      position: absolute;
      bottom: 0;
      padding: 0px 86px 20px 15px;
    }

    .post-author {
      font-weight: 600;
      padding-bottom: 0.8rem;
    }

    .see-more {
      font-weight: 600;
    }

  /* #endregion post-info */

  /* #region footer-nav */
  
  .footer-nav-container {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;;
    font-size: 1.8rem;
  }
    
    .footer-button {
      color: #817D7D;
      text-align: center;
    }

    .footer-button div {
      font-size: 0.7rem;
    }
    
    div#home-button {
      color:#fff;
    }

    #new-reel-button {
      color:#fff;
      font-size: 2.5rem;
      transform: rotate(90deg);
      display: flex;
    }


  /* #region footer-nav */

/* #endregion footer👢 */
